@use './variables' as *
*
    box-sizing: border-box

html,
body
    margin: 0
    padding: 0
    font-size: 16px
    line-height: 1.4
    font-family: 'Arial', sans-serif
    color: $text

@media (min-width: 320px)
    .mobile
        display: block

    .tablet
        display: none

    .desktop
        display: none

    .large-desktop
        display: none

    .carousel-container
        width: 80%

    .carousel-image
        width: 100%
        height: auto

    .carousel-button.prev
        left: -40px

    .carousel-button.next
        right: -40px
@media (min-width: 376px)

@media (min-width: 768px)
    .tablet
        display: block

    .carousel-container
        width: auto

    .carousel-image
        width: 220px
        height: 200px

    .carousel-button.prev
        left: -30px

    .carousel-button.next
        right: -30px

@media (min-width: 1024px)
    .desktop
        display: block

@media (min-width: 1280px)
    .large-desktop
        display: block
